<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
      <add name="TasteItDbEntities" connectionString="metadata=res://*/Models.TasteITDataModel.csdl|res://*/Models.TasteITDataModel.ssdl|res://*/Models.TasteITDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=den1.mssql3.gear.host;initial catalog=tasteitdb;persist security info=True;user id=tasteitdb;password=jedzonko!234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>ZThtrSkMzi7rjKcbTEGAKGqfkFdsnLa9o8b9FdyWaSE2xAiN7xyR6ar+UAzshyIjQaRk6rGP5hEsl9tWzDtTCvQytrBZCKRG5cfa9DqfgPLqONFCw+leA3Zyx1sbHSOtpdqdH1HMOOi7avkN1LEHN5+Eb9Rub+jmOBP6o5qQZb8=</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>D9ybJjrqG2K0mF8jkpTCUhgFhO3BddpY0jAdEoVg3wFw9gCdRZUKtfG6P0XnerN3X45aeoUZQ4KZO5ZbRWXsgA2vTOxczSX5rknlW1z9J545+5gJpcY6GjnABk6RltjdFXTlQMyOEJDmcRCnHPCAoD5bn1N8OZEKkHTGTryy0x6iO2KnKGthfqptgb67wXMUe2IgVlME5jY/rKGSTRlRHcF9M3WdGWzaJ3wpP9CEFYebTJXLpjmsIc1cjPEzmB3S6rZPRfXyf32WaJ8Bznes7vYAfyqKWf9l/SkZieaPOxwQD+chF1cQ4rSykEf+l3pWC5p+fIR4dmYMJV12/2QZWhI+PFQk+c41l2YkH5nK1beo63l0rE3P0zVrPWfNVg5OeNF0SXQo6aKrop5FqEhJI/WMrwGeEX5D61f6RPRRLcOU/eXc0/YWy+WIhV3lZJS4k2eaSGa8WVQNQHtt3ofaDnU/tJniPyyQt4vN5oBAEoA7KxmzCMaE89dzGlcw3y2Mx1IxmWE8emkGaqM0gVN5VkK/TJBSJdskW0bfBqeDtcmh7vE7bjB2wkMu0kd21a+zJBlpbOMzHfEBqb6V2cOHlEbf8bCK0BTYr/1ri/o029bgDEdu3de5fM6jP0zbTVLRq8mjDDWL1I95nbDW7yxH7DRX42ITe8/ymuBxvZFWqWCe4Dy/tjTj6EbQGz//wmTYHeAQrZ8YGF7cQq2n6p/63zv0qIJ8ETe5tSZp/NHhQsfrL6irixWTtII6mCDebv70ygEJNDv8Iqma2IjUUO5PM4e9RyneYnTvtKFxC4pPmeA=</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings></configuration>